# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\modul2-java\week3-IO\ ReadFileExample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
